.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
}
.navbar_left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo_img{
    height: 30px;
    width: auto;
    object-fit: contain;
    margin-right: -15px;
}

.logo {
    display: flex;
  align-items: center;
  gap: 16px;
  color: black;
  font-weight: bold;
  margin-right: 20px;
}
.category {
    appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 36px 8px 12px;
  width: 150px;
   color: #1f8f6a;
  font-weight: 700;
  font-family:Arial, Helvetica, sans-serif;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.category:focus {
  outline: none;
  border-color: #1f8f6a;
}
.select-wrapper {
  position: relative;
  display: inline-block;
}
/* FILLED triangle */
.select-wrapper::after {
  content: "";
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #1f8f6a; /* filled arrow */
}
.navbar_center{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar_center a{
    text-decoration: none;
    color: #333;
    font-weight: 490;
}
.pages{
    padding: 2px 10px;
    border: none;
}
.navbar_right{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 100px;
}
.join_button{
  background-color: #1f8f6a;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.seller_button{
background: #1f8f6a;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.searchIcon_container{
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 50%;
  padding: 6px;
  display: flex;
  font-size: 20;
  color: rgb(50, 51, 51);
  display: flex;
  align-items: center;     
  justify-content: center;
  cursor: pointer;
}