/* Layout */
.product-grid-wrapper {
  flex: 1;
  padding: 24px;
  background: #f7f7f7;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* Card */
.product-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 16px;
  position: relative;
  transition: all 0.8s ease;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

/* Discount badge */
.discount-badge {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #facc15;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 999px;
  font-weight: 600;
}

/* Image */
.image-wrapper {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  max-height: 140px;
  object-fit: contain;
}

/* Text */
.product-name {
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}

.product-unit {
  font-size: 12px;
  color: #9ca3af;
  margin-bottom: 10px;
}

/* Footer */
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  color: #1f8f6a;
  font-weight: 600;
}

/* Buttons */
.add-btn {
  background: #e6f4ef;
  color: #1f8f6a;
  border: none;
  padding: 6px 14px;
  border-radius: 999px;
  font-weight: 500;
  cursor: pointer;
}

.qty-box {
  display: flex;
  align-items: center;
  background: #1f8f6a;
  border-radius: 999px;
  overflow: hidden;
}

.qty-box button {
  background: none;
  border: none;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
}

.qty-box span {
  color: white;
  padding: 0 8px;
  font-size: 14px;
}

.cart_btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  font-weight: bold;
}
